<span class="font-loader">
	<span class="aroma-light"><!-- / --></span>
	<span class="aroma-bold"><!-- / --></span>
	<span class="prime"><!-- / --></span>
	<span class="orbitron-light"><!-- / --></span>
	<span class="orbitron-black"><!-- / --></span>
</span>
<audio id="titlestinger" src="assets/titlestinger.mp3"> </audio>
<audio id="titlemusic" src='assets/title.mp3' autoplay loop="true"> </audio>
<audio id="entergamestinger" src="assets/entergamestinger.mp3"> </audio>
<audio id="deathstinger" src="assets/deathstinger.mp3"> </audio>
<audio id="ambientloop" src="assets/ambientloop.mp3" loop='true' autoplay> </audio>
<audio id="keyclick" src="assets/keyclick.mp3"> </audio>
