<meta name="csrf-token" content="{{csrfToken}}">
<span class="font-loader">
	<span class="aroma-light"><!-- / --></span>
	<span class="aroma-bold"><!-- / --></span>
	<span class="prime"><!-- / --></span>
	<span class="orbitron-light"><!-- / --></span>
	<span class="orbitron-black"><!-- / --></span>
</span>
<script src="/assets/loginbundle.js"></script>