<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Space Battle With Lasers</title>
  <style>
    @font-face{
      font-family:Aroma;
      src: url(assets/AROMA-Light.ttf);
    }
    @font-face{
      font-family:Aroma;
      src: url(assets/AROMA-Bold.ttf);
      font-weight:bold;
    }
    @font-face{
      font-family:Prime;
      src: url(assets/Prime-Regular.otf) format("opentype");
    }
    @font-face{
      font-family:Orbitron;
      src: url(assets/Orbitron-Light.ttf);
    }
    @font-face{
      font-family:Orbitron;
      src: url(assets/Orbitron-Black.ttf);
      font-weight:bold;
    }
    .font-loader
    {
      visibility: hidden;
      position: absolute;
    }

    .font-loader .aroma-light
    {
      font-family: Aroma, Arial, Sans-serif;
    }

    .font-loader .aroma-bold
    {
      font-family: Aroma, Arial, Sans-serif;
    }
    .font-loader .prime
    {
      font-family: Prime, Arial, Sans-serif;
    }
    .font-loader .orbitron-light
    {
      font-family: Orbitron, Arial, Sans-serif;
    }
    .font-loader .orbitron-black
    {
      font-family: Orbitron, Arial, Sans-serif;
    }
    * { margin:0; padding:0; } /* to remove the top and left whitespace */

    html, body { width:100%; height:100%; background-color: black; } /* just to be sure these are full screen*/

    p {
      color:rgb(200,200,200);
      font: 12pt Orbitron, Sans-serif;
    }

    canvas { display:block; } /* To remove the scrollbars */
    audio{display:none;}
  </style>
</head>
<body>  
  {{{body}}}
</body>
</html>